/* GENERAL BODY */

@import "parameters.scss";

body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

body {
	background: $bg-col;
}

.container {
	font-family: $textfont;
  font-size: $textsize;
  color: $text-col;
}

.header, .footer {
	font-family: $textfont; 
}



/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	min-height: 100vh;
	width: calc(min(80ex, 100vw));
}

.container > * {
	width: 100%;
}



/* CONTENT */

.content {
	position: relative;
}

.content {
	flex-grow: 1;
}

.content {
	text-align: justify;
}



/* SEPERATOR RULES */

.separator {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.separator#top {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

.separator#bottom {
	margin-top: 1em;
	margin-bottom: 1em;
}

.separator#top > img {
	width: calc(100% / 9);
}

.separator#bottom > img {
	width: calc(100% / 9);
}



/* HEADER */

.header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.header > #title {
	font-family: $textfont; 
	font-size: 150%;
	font-weight: 700;
	color: $title-col; 
}

.header > img {
	height: 0.6em;
	align-self: baseline;
}



/* FOOTER */

.footer {
	margin-bottom: 1em;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5em 2.5em;
}

.footer {
	color: dimgray;
	font-size: 90%;
}

.valign, .valign * {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 1ex;
}

.footer img {
	width: 2.5ex;
	height: 2.5ex;
}



/* LINKS */

a {
	text-decoration: none;
	color: inherit;
}

.content p a:not(.footnote-reference a) {
	font-style: plain;
}

  /* Link color for writing, needs html tag 'article'*/
article a {
  color : $link-col; 
  text-decoration-style: dotted;
}

a:hover {
	color: $link-hover-col;
}



/* FOOTNOTES */

.footnote-definition > p {
	display: inline;
}

.footnote-reference {
	line-height: 0;
}

pre, code {
  font-family: "IBM Plex Mono", "Courier New";
  font-size: 90%;
  overflow: auto;
  margin-left: .5em;
  margin-bottom: 0;
  background-color: $code-bg-col;
  color: $code-col;
}
main {
	margin: auto;
	max-width: 38rem;
	padding: 0.8rem;
}
pre {
	background: white;
	overflow: scroll;
	padding: 1rem;
}

