$bg-col:      #fefffe;
$bg-col-li:   #fefffe;
$title-col:   #000000;
$hover-col:   #6c71c4;
//for code
$code-bg-col: #fefffe;
$code-col: #d33682;
//for links
$link-col:     #d33682;
$link-hover-col:  #d33682;
//fonts
$headfont: Helvetica;
$textfont: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$textsize: 14pt;
$text-col: #000000;
