{% extends "base.html" %}
{% block content %}

{% set url = get_url(path="@/blog/_index.md") %}

<h1>
	posts
</h1>

<div class="table-container">
	<table class="content-table">
		<tbody>
		{% for page in section.pages %}
			<tr>
				<td>
					<a href={{page.permalink}}>
						{{ page.title }}
						({{ page.date | date(format="%B %e, %Y") }})
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
